body {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
}

table {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    table-layout: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
    color: hsl(12, 4.2%, 23.3%);
    background: white;
}

tr > th {
    border-bottom: 1px solid hsl(200, 10.33%, 94.3%);
    text-align: left;
}

tr > th:first-child {
    background-color: hsl(200, 10.33%, 94.3%);
    font-style: italic;
    padding-left: 10px;
    margin-left: 0;
    text-align: left;
}

tr > td {
    border-bottom: 1px solid hsl(200, 10.33%, 94.3%);
    align-content: center;
}

tr > td:first-child {
    background-color: hsl(200, 10.33%, 94.3%);
    font-style: italic;
    padding-left: 10px;
    margin-left: 0;
}

th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    padding: 0 5px 0 5px;
}
