<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.knime.credentials.base.CredentialType">
      <credentialType
            credentialClass="org.knime.credentials.base.oauth.api.JWTCredential"
            credentialSerializerClass="org.knime.credentials.base.oauth.api.JWTCredential$Serializer"
            id="knime.JWTCredential"
            name="JWT">
      </credentialType>
      <credentialType
            credentialClass="org.knime.credentials.base.oauth.api.AccessTokenCredential"
            credentialSerializerClass="org.knime.credentials.base.oauth.api.AccessTokenCredential$Serializer"
            id="knime.AccessTokenCredential"
            name="Access Token">
      </credentialType>

   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/connectors"
            deprecated="false"
            factory-class="org.knime.credentials.base.oauth2.password.OAuth2AuthenticatorPasswordNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/connectors"
            deprecated="false"
            factory-class="org.knime.credentials.base.oauth2.clientcredentials.OAuth2AuthenticatorClientCredsNodeFactory"
            hidden="false">
      </node>
      <node
            category-path="/io/connectors"
            deprecated="false"
            factory-class="org.knime.credentials.base.oauth2.authcode.OAuth2AuthenticatorAuthCodeNodeFactory"
            hidden="false">
      </node>
   </extension>
</plugin>
